<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
      <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus">
</head>
<body>

</body>
</html>